.btn_style {
  background-color: white;
  padding: 0 16px ;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, .87);
  margin-bottom: 5px;
}

.datePart {
  width: 100%;
  text-align: center;
}

.mat-icon {
  vertical-align: middle;
}
