<div class="btn_style">
  <div class="datePart">
    <form [formGroup]="receivedLegalForm">
      <div>
        <mat-form-field style="width: 100%">
          <input matInput [matDatepicker]="legalPicker" formControlName="legalReceiveDate">
          <mat-datepicker-toggle matSuffix [for]="legalPicker"></mat-datepicker-toggle>
          <mat-datepicker #legalPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
    <div>Данных по банкам:
      <div>{{receivedLegalPartiesCount}} из {{totalLegalPartiesCount}}</div>
    </div>
  </div>
  <div *ngFor="let legalParty of missingLegalParties">
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td>
          <mat-icon color="warn">assignment_late</mat-icon>
        </td>
        <td>{{legalParty.name}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="btn_style">
  <div class="datePart">
    <form [formGroup]="receivedForm">
      <div>
        <mat-form-field style="width: 100%">
          <input matInput [matDatepicker]="branchPicker" formControlName="receivedDate">
          <mat-datepicker-toggle matSuffix [for]="branchPicker"></mat-datepicker-toggle>
          <mat-datepicker #branchPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
    <div>Получено отчетов:
      <div>{{receivedBranchCount}} из {{totalBranchCount}}</div>
    </div>
  </div>
  <div *ngFor="let branch of missingBranches">
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td>
          <mat-icon color="warn">assignment_late</mat-icon>
        </td>
        <td>{{branch.name}}</td>
      </tr>
    </table>
  </div>
</div>
