<mat-card class="card">
  <div>
    <div>
      <table class="full_width">
        <tr>
          <td width="50%">
            <button mat-raised-button
                    [color]="normative_color"
                    (click)="showNormatives()"
                    class="full_width">Нормативные значения касс
            </button>
          </td>
          <td>
            <button mat-raised-button
                    [color]="legal_parties_color"
                    (click)="showLegalParties()"
                    class="full_width">Юридические лица
            </button>
          </td>
        </tr>
      </table>
    </div>
    <mat-spinner
      *ngIf="loading"
      color="primary" strokeWidth="4" class="spinner" diameter="100"
      strokeWidth="2"></mat-spinner>
  </div>
</mat-card>
<br>
<mat-card class="card" *ngIf="normativesVisible">
  <table class="full_width">
    <tr>
      <td>
        <div class="full_width" [formGroup]="saveNormativeFormGroup">
          <input type="hidden" value="" formControlName="id">
          <input type="hidden" value="" formControlName="name">
          <input type="hidden" value="" formControlName="legalParty">
          <input type="hidden" value="" formControlName="address">
          <mat-form-field class="full_width">
            <input matInput #normative
                   [placeholder]="normativeText"
                   formControlName="normative"
                   (keydown)="keyDown($event, false)"
                   (keyup)="keyUp($event, false)"
                   (blur)="onBlurFixed($event, false)"/>
          </mat-form-field>
        </div>
      </td>
      <td width="20%">
        <button mat-raised-button
                color="primary"
                (click)="onModifyNormative()" class="full_width"
                [disabled]="disable_normative">
          <span>Сохранить</span>
        </button>
      </td>
      <td width="20%">
        <button mat-raised-button
                color="warn"
                (click)="cancelNormative()" class="full_width"
                [disabled]="disable_normative">Отменить
        </button>
      </td>
    </tr>
  </table>
  <br>

  <table border="1" cellpadding="3" cellspacing="0" class="data_table">
    <thead>
    <td style="border-right: none;">Подразделение</td>
    <td style="border-right: none; border-left: none;">Нормативное значение кассы, руб</td>
    <td style="border-left: none;">&nbsp;</td>
    </thead>
    <tr *ngFor="let branch of branches">
      <td style="border-right: none;">{{branch.name}}</td>
      <td style="border-right: none; border-left: none; text-align: center">{{addSeparators(branch.normative)}}</td>
      <td style="border-left: none; text-align: center">
        <button mat-icon-button color="primary" aria-label="Редактировать" class="icon_button"
                (click)="editNormative(branch);">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</mat-card>
<mat-card class="card" *ngIf="legalPartiesVisible">
  <div class="full_width" [formGroup]="addLegalPartyFormGroup">
    <table class="full_width">
      <tr>
        <td>
          <input type="hidden" value="" formControlName="id">
          <mat-form-field class="full_width">
            <input matInput placeholder="Наименование" formControlName="legalPartyName" [readonly]="isDelete">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full_width">
            <input matInput placeholder="Норматив"
                   formControlName="legalPartyNormative"
                   [readonly]="isDelete"
                   (keydown)="keyDown($event, false)"
                   (keyup)="keyUp($event, false)"
                   (blur)="onBlurFixed($event, false)">
          </mat-form-field>
        </td>
        <td *ngIf="this.legalPartiesForm.id.value==''" width="40%">
          <button mat-raised-button
                  color="primary"
                  (click)="onModifyLegalParty()" class="full_width">Добавить
          </button>
        </td>
        <td *ngIf="this.legalPartiesForm.id.value!=''" width="20%">
          <button mat-raised-button
                  color="primary"
                  (click)="onModifyLegalParty()" class="full_width">
            <span *ngIf="!this.isDelete">Сохранить</span>
            <span *ngIf="this.isDelete">Удалить</span>
          </button>
        </td>
        <td *ngIf="this.legalPartiesForm.id.value!=''" width="20%">
          <button mat-raised-button
                  color="warn"
                  (click)="cancelEdit()" class="full_width">Отменить
          </button>
        </td>
      </tr>
    </table>
  </div>
  <br>

  <table border="1" cellpadding="3" cellspacing="0" class="data_table">
    <thead>
    <td style="border-right: none;">Наименование</td>
    <td style="border-right: none; border-left: none;">Нормативный остаток в банке, руб</td>
    <td style="border-left: none;">&nbsp;</td>
    </thead>
    <tr *ngFor="let lp of legalParties">
      <td style="border-right: none;">{{lp.name}}</td>
      <td style="border-right: none; border-left: none;">{{addSeparators(lp.normative)}}</td>
      <td style="border-left: none; text-align: center">
        <button mat-icon-button color="primary" aria-label="Редактировать" class="icon_button"
                (click)="editLegalParty(lp._id, lp.name, lp.normative)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Удалить" class="icon_button"
                (click)="deleteLegalParty(lp._id, lp.name, lp.normative)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</mat-card>

