.full_width {
  width: 100%;
}

.width80 {
  width: 80%;
}

.centered {
  text-align: center;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.data_table {
  border-collapse: collapse;
  border: #b1b2d2 solid 1px;
  background-color: #ffffff;
  width: 100%;
}

.data_table td {
  border: #b1b2d2 solid thin;
}

.data_table thead td {
  background-color: #3f60b5bd;
  color: white;
  vertical-align: middle;
  height: 30px;
  font-weight: 500;
  padding-left: 20px;
}

.data_table tr td {
  padding-left: 20px;
  text-align: left;
}
