<div mat-dialog-content>
  <div class="full_width">
    <div style="text-align:center">
      Уверены, что хотите удалить пользователя <b>{{data.name}}</b>?
    </div>
  </div>
</div>
<div mat-dialog-actions class="full_width">
  <div class="button_aligner">
    <button mat-raised-button color="warn" (click)="onNoClick()">Нет</button>
    <button mat-raised-button color="primary" (click)="onDelete()">Да</button>
  </div>
</div>
