<div mat-dialog-content>
  <form [formGroup]="editForm" (ngSubmit)="onSave()">
    <input type="hidden" value="{{user._id}}" formControlName="id">

    <div class="full_width">
      <mat-form-field class="full_width">
        <input matInput placeholder="Логин" formControlName="login" [readonly]="!data.new">
      </mat-form-field>
    </div>

    <div class="full_width">
      <mat-form-field class="full_width">
        <input matInput placeholder="Пароль" type="password" formControlName="password">
      </mat-form-field>
    </div>

    <div class="full_width">
      <mat-form-field class="full_width">
        <input matInput placeholder="ФИО" formControlName="name">
      </mat-form-field>
    </div>

    <div class="full_width">
      <mat-form-field class="full_width">
        <mat-label>Роль</mat-label>
        <mat-select formControlName="roles">
          <mat-option value="admin">Администратор</mat-option>
          <mat-option value="user">Оператор</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="full_width">
      <mat-form-field class="full_width">
        <mat-label>Подразделение</mat-label>
        <mat-select multiple formControlName="branches">
          <mat-option *ngFor="let branch of branches" [value]="branch._id">{{branch.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="full_width">
  <div class="button_aligner">
    <button mat-raised-button color="primary" type="submit" (click)="onSave()">Сохранить</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Отмена</button>
  </div>
</div>

