<div mat-dialog-content>
  <div class="full_width">
    <div style="text-align:center">
      Новый пароль для пользователя
      <p><b>{{data.name}}</b></p>
      <p>[{{data.login}}]</p>
      <b><i>{{newPassword}}</i></b>
      <div class="full_width">&nbsp;</div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="full_width">
  <div class="button_aligner">
    <button mat-raised-button color="primary" (click)="onClose()">Закрыть</button>
  </div>
</div>
