<div>
  <button mat-raised-button color="primary" (click)="openAddDialog()" class="full_width">
    <mat-icon>person_add</mat-icon>&nbsp;Добавить
  </button>
</div>
<br>
<div>
  <table mat-table [dataSource]="dataSource" class="main_table">

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>Логин</th>
      <td mat-cell *matCellDef="let element"> {{element.username}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>ФИО</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>Роль</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.roles.indexOf('admin')!=-1">Администратор</span>
        <span *ngIf="element.roles.indexOf('user')!=-1">Оператор</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="branches">
      <th mat-header-cell *matHeaderCellDef>Подразделения</th>
      <td mat-cell *matCellDef="let element">
        <table mat-table [dataSource]="element.branches" class="branches_table">
          <ng-container matColumnDef="branchName">
            <td mat-cell *matCellDef="let branch">{{getBranchName(branch)}}</td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: displayBranchNames;"></tr>
        </table>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" aria-label="Сбросить пароль" class="icon_button"
                (click)="openPasswordResetDialog(element._id, element.username, element.name)">
          <mat-icon>autorenew</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Редактировать" class="icon_button"
                (click)="openEditDialog(element._id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Удалить" class="icon_button"
                (click)="openDeleteDialog(element._id, element.username, element.name)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
