.icon_button {
  width: auto;
}

.button_container {
  width: 180px;
}

.main_table {
  width: 100%;
}

.form_field {
  padding-left: 5px;
  padding-right: 5px;
  width: 355px;
}

.employee_table {

}

.branches_table tr {
  height: auto;
}

.branches_table td {
  border-width: 0px;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.roles_table tr {
  height: auto;
}

.roles_table td {
  border-width: 0px;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.add_button {
  width: 100%;
}

.full_width {
  width: 100%;
}

.button_aligner {
  margin-left: auto;
  margin-right: 0px;
}

.button_aligner button {
  width: 180px;
}
