.levt_nav {
    margin-top: 5px;
    width: 200px;
}

.left_button {    
    width: 100%!important;
    min-width: unset!important;  
}

.logout_content {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;
}

.logout_content span {
    color: darkcyan;
    font-weight: bold;
}

.button {
  padding-bottom: 5px;
}
