<div>
  <div class="button">
    <button mat-raised-button [color]="new_report_color" class="left_button" routerLink="/newReport">Новый отчет
    </button>
  </div>
  <div class="button">
    <button mat-raised-button [color]="view_report_color" class="left_button" routerLink="/viewReport">Посмотреть
      отчёт
    </button>
  </div>
  <div class="button" *ngIf="user.roles.indexOf('admin')>-1">
    <button mat-raised-button [color]="stats_color" class="left_button" routerLink="/stats">Статистика</button>
  </div>
  <div class="button" *ngIf="user.roles.indexOf('admin')>-1">
    <button mat-raised-button [color]="users_color" class="left_button" routerLink="/users">Пользователи</button>
  </div>
  <div class="button" *ngIf="user.roles.indexOf('admin')>-1">
    <button mat-raised-button [color]="branches_color" class="left_button" routerLink="/branches">Подразделения</button>
  </div>
  <div class="button" *ngIf="user.roles.indexOf('admin')>-1">
    <button mat-raised-button [color]="excel_color" class="left_button" routerLink="/excel">Выгрузка данных</button>
  </div>
  <div class="button" *ngIf="user.roles.indexOf('admin')>-1">
    <button mat-raised-button [color]="catalog_color" class="left_button" routerLink="/catalog">Справочники</button>
  </div>
  <div class="button" *ngIf="user.roles.indexOf('admin')>-1">
    <app-received></app-received>
  </div>
  <br><br>
  <div class="button">
    <button mat-raised-button class="left_button" (click)="logout()">
      <div class="logout_content">
        <div>Вы вошли как</div>
        <div style="white-space: pre-line; font-weight: bold;">{{user.name}}</div>
        <div>
          <span>Выйти</span>
        </div>
      </div>
    </button>
  </div>
</div>
