.header_main {
    background-color: white;
}
.header_top {
    height: 20px;
}

.header_main img {
    padding-left:10px;
    padding-bottom: 5px;
}

.header_bottom {
    height: 20px;
    background: rgb(201,201,201);
    background: -moz-linear-gradient(0deg, rgba(201,201,201,1) 0%, rgba(222,222,222,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(201,201,201,1) 0%, rgba(222,222,222,1) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(201,201,201,1) 0%, rgba(222,222,222,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c9c9c9",endColorstr="#ffffff",GradientType=1);
}