<form [formGroup]="saveReportForm">
  <input value="0" type="hidden" formControlName="id">
  <table border="0" cellpadding="5" cellspacing="0" width="1034">
    <tr>
      <td colspan="2">
        <mat-card class="card">
          <mat-spinner
            *ngIf="loadingReport || loadingDynamics" color="primary" strokeWidth="4" class="spinner" diameter="100"
            strokeWidth="2"></mat-spinner>
          <div class="full_width">
            <table border="0" cellpadding="10" cellspacing="0" class="full_width">
              <tr>
                <td valign="bottom" width="50%">
                  <div>
                    <mat-form-field class="full_width">
                      <mat-label>Подразделение</mat-label>
                      <mat-select formControlName="branch" (ngModelChange)="valuechange()">
                        <mat-option *ngFor="let branch of branches" [value]="branch._id">{{branch.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </td>
                <td valign="bottom">
                  <div class="full_width">
                    <mat-form-field class="full_width">
                      <span matPrefix>Дата</span>
                      <input matInput [matDatepicker]="reportDatePicker" formControlName="date"
                             (ngModelChange)="valuechange()">
                      <mat-datepicker-toggle matSuffix [for]="reportDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #reportDatePicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </td>
              </tr>
            </table>
            <div>
              <button mat-raised-button color="primary" type="button" class="full_width" [disabled]="isSaveDisabled()"
                      (click)="saveReport()">
                <mat-icon>save</mat-icon>&nbsp;{{saveText}}
                <mat-spinner *ngIf="loading" color="primary" strokeWidth="4" class="spinner"
                             diameter="25" strokeWidth="2"></mat-spinner>
              </button>
            </div>
          </div>
        </mat-card>
      </td>
    </tr>
    <tr [hidden]="this.f.branch.value=='' || this.f.date.value==''">
      <td width="517" valign="top">
        <mat-card class="card">
          <mat-card-title>Заёмщики</mat-card-title>
          <mat-form-field class="full_width">
            <input matInput value="0" type="text"
                   formControlName="loanersPawned"
                   onfocus="this.select()"
                   (change)="changeDynamics()"
                   (keydown)="keyDown($event, false)"
                   (keyup)="keyUp($event, false)"
                   (blur)="onBlurFixed($event, false)"
                   onkeyup="if(event.key=='Enter') loanersBought.focus();"
                   autocomplete="off">
            <span matPrefix class="prefix">Взяли</span>
            <span matSuffix>&nbsp;чел.</span>
          </mat-form-field>
          <mat-form-field class="full_width">
            <input matInput value="0" type="text" id='loanersBought' formControlName="loanersBought" onfocus="this.select()"
                   (change)="changeDynamics()"
                   (keydown)="keyDown($event, false)"
                   (keyup)="keyUp($event, false)"
                   (blur)="onBlurFixed($event, false)"
                   onkeyup="if(event.key=='Enter') loanedRub.focus();"
                   autocomplete="off">
            <span matPrefix class="prefix">Отдали</span>
            <span matSuffix>&nbsp;чел.</span>
          </mat-form-field>
          <mat-form-field class="full_width">
            <input matInput value="0" type="text" formControlName="loanersAsset" readonly>
            <span matPrefix class="prefix bold">Актив</span>
            <span matSuffix>&nbsp;чел.</span>
          </mat-form-field>
        </mat-card>
      </td>
      <td valign="top">
        <mat-card class="card">
          <div class="full_width">
            <mat-card-title>Корзина</mat-card-title>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" id="loanedRub" formControlName="loanedRub" onfocus="this.select()"
                     (change)="changeDynamics()"
                     (keydown)="keyDown($event, false)"
                     (keyup)="keyUp($event, false)"
                     (blur)="onBlurFixed($event, false)"
                     onkeyup="if(event.key=='Enter') repayedRub.focus();"
                     autocomplete="off">
              <span matPrefix class="prefix">Выдано</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" id="repayedRub" formControlName="repayedRub" onfocus="this.select()"
                     (change)="changeDynamics()"
                     (keydown)="keyDown($event, false)"
                     (keyup)="keyUp($event, false)"
                     (blur)="onBlurFixed($event, false)"
                     onkeyup="if(event.key=='Enter') percentRecieved.focus();"
                     autocomplete="off">
              <span matPrefix class="prefix">Погашено</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" id="percentRecieved" formControlName="percentRecieved" onfocus="this.select()"
                     (change)="changeDynamics()"
                     (keydown)="keyDown($event, false)"
                     (keyup)="keyUp($event, false)"
                     (blur)="onBlurFixed($event, false)"
                     onkeyup="if(event.key=='Enter') goldBought.focus();"
                     autocomplete="off">
              <span matPrefix class="prefix">Получено %</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="volume" readonly>
              <span matPrefix class="prefix bold">Объем</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
          </div>
        </mat-card>
      </td>
    </tr>
    <tr [hidden]="this.f.branch.value=='' || this.f.date.value==''">
      <td valign="top">
        <mat-card class="card">
          <div class="full_width">
            <mat-card-title>Золото 999,9</mat-card-title>
            <mat-form-field class="full_width">
              <input matInput value="0.00" id="goldBought" formControlName="goldBought" type='text' step='0.01'
                     (change)="changeDynamics()"
                     (keydown)="keyDown($event, true)"
                     (keyup)="keyUp($event, false)"
                     autocomplete="off"
                     onfocus="this.select()"
                     onkeyup="if(event.key=='Enter') goldSold.focus();"
                     (blur)="onBlur($event)">
              <span matPrefix class="prefix">Принято</span>
              <span matSuffix>&nbsp;гр.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0.00" id="goldSold" formControlName="goldSold" type='text' step='0.01'
                     (change)="changeDynamics()"
                     (keydown)="keyDown($event, true)"
                     (keyup)="keyUp($event, false)"
                     autocomplete="off"
                     onfocus="this.select()"
                     onkeyup="if(event.key=='Enter') silverBought.focus();"
                     (blur)="onBlur($event)">
              <span matPrefix class="prefix">Погашено</span>
              <span matSuffix>&nbsp;гр.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" formControlName="goldBalance" readonly>
              <span matPrefix class="prefix bold">Остаток</span>
              <span matSuffix>&nbsp;гр.</span>
            </mat-form-field>
          </div>
        </mat-card>
      </td>
      <td valign="top">
        <mat-card class="card right">
          <div class="full_width">
            <mat-card-title>Серебро 999,9</mat-card-title>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" id="silverBought" formControlName="silverBought" step='0.01'
                     (change)="changeDynamics()"
                     (keydown)="keyDown($event, true)"
                     (keyup)="keyUp($event, false)"
                     autocomplete="off"
                     onfocus="this.select()"
                     onkeyup="if(event.key=='Enter') silverSold.focus();"
                     (blur)="onBlur($event)">
              <span matPrefix class="prefix">Принято</span>
              <span matSuffix>&nbsp;гр.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" id="silverSold" formControlName="silverSold" step='0.01'
                     (change)="changeDynamics()"
                     (keydown)="keyDown($event, true)"
                     (keyup)="keyUp($event, false)"
                     autocomplete="off"
                     onfocus="this.select()"
                     onkeyup="if(event.key=='Enter') diamondBought.focus();"
                     (blur)="onBlur($event)">
              <span matPrefix class="prefix">Погашено</span>
              <span matSuffix>&nbsp;гр.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" formControlName="silverBalance" readonly>
              <span matPrefix class="prefix bold">Остаток</span>
              <span matSuffix>&nbsp;гр.</span>
            </mat-form-field>
          </div>
        </mat-card>
      </td>
    </tr>
    <tr [hidden]="this.f.branch.value=='' || this.f.date.value==''">
      <td valign="top">
        <mat-card class="card left">
          <div class="full_width">
            <mat-card-title>Бриллианты</mat-card-title>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" id="diamondBought" formControlName="diamondBought" step='0.01'
                     (change)="changeDynamics()"
                     (keydown)="keyDown($event, true)"
                     (keyup)="keyUp($event, false)"
                     autocomplete="off"
                     onfocus="this.select()"
                     onkeyup="if(event.key=='Enter') diamondSold.focus();"
                     (blur)="onBlur($event)">
              <span matPrefix class="prefix">Принято</span>
              <span matSuffix>&nbsp;кт.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" id="diamondSold" formControlName="diamondSold" step='0.01'
                     (change)="changeDynamics()"
                     (keydown)="keyDown($event, true)"
                     (keyup)="keyUp($event, false)"
                     autocomplete="off"
                     onfocus="this.select()"
                     onkeyup="if(event.key=='Enter') goodsBought.focus();"
                     (blur)="onBlur($event)">
              <span matPrefix class="prefix">Погашено</span>
              <span matSuffix>&nbsp;кт.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" formControlName="diamondBalance" readonly>
              <span matPrefix class="prefix bold">Остаток</span>
              <span matSuffix>&nbsp;кт.</span>
            </mat-form-field>
          </div>
        </mat-card>
      </td>
      <td valign="top">
        <mat-card class="card right">
          <div class="full_width">
            <mat-card-title>Вещи</mat-card-title>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" id="goodsBought" formControlName="goodsBought" onfocus="this.select()"
                     (change)="changeDynamics()"
                     (keydown)="keyDown($event, false)"
                     (keyup)="keyUp($event, false)"
                     (blur)="onBlurFixed($event, false)"
                     onkeyup="if(event.key=='Enter') goodsSold.focus();"
                     autocomplete="off">
              <span matPrefix class="prefix">Принято</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" id="goodsSold" formControlName="goodsSold" onfocus="this.select()"
                     (change)="changeDynamics()"
                     (keydown)="keyDown($event, false)"
                     (keyup)="keyUp($event, false)"
                     (blur)="onBlurFixed($event, false)"
                     onkeyup="if(event.key=='Enter') cashboxEvening.focus();"
                     autocomplete="off">
              <span matPrefix class="prefix">Погашено</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="goodsBalance" readonly>
              <span matPrefix class="prefix bold">Остаток</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
          </div>
        </mat-card>
      </td>
    </tr>
    <tr [hidden]="this.f.branch.value=='' || this.f.date.value==''">
      <td valign="top" colspan="2">
        <mat-card class="card right">
          <div class="full_width">
            <mat-card-title>Касса</mat-card-title>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="cashboxMorning" readonly>
              <span matPrefix class="prefix">Остаток кассы на утро</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="" type="text" id="cashboxEvening" formControlName="cashboxEvening" onfocus="this.select()"
                     (keydown)="keyDown($event, false)"
                     (keyup)="keyUp($event, true)"
                     (blur)="onBlurFixed($event, true)"
                     onkeyup="if(event.key=='Enter') tradesActive.focus();"
                     autocomplete="off">
              <span matPrefix class="prefix">Остаток кассы на конец дня</span>
              <span [hidden]="this.f.cashboxEvening.value==''" matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
          </div>
        </mat-card>
      </td>
    </tr>
    <tr [hidden]="this.f.branch.value=='' || this.f.date.value==''">
      <td colspan="2">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="buttonTitle"><span style="font-size: 18px;">Торги</span></mat-panel-title>
            </mat-expansion-panel-header>
            <div style="font-size: 16px;">
              <div class="full_width">
                <mat-form-field class="full_width">
                  <input matInput value="0" type="text" id="tradesActive" formControlName="tradesActive" onfocus="this.select()"
                         (change)="changeDynamics()"
                         (keydown)="keyDown($event, false)"
                         (keyup)="keyUp($event, false)"
                         autocomplete="off"
                         onkeyup="if(event.key=='Enter') goldTradeWeight.focus();"
                         (blur)="onBlurFixed($event, false)">
                  <span matPrefix>Актив</span>
                  <span matSuffix>&nbsp;залогов</span>
                </mat-form-field>
                <table class="full_width">
                  <tr>
                    <td width="517">
                      <mat-form-field class="full_width">
                        <input matInput value="0" type="text" id="goldTradeWeight" formControlName="goldTradeWeight" step='0.01'
                               onfocus="this.select()"
                               (change)="changeDynamics()"
                               (keydown)="keyDown($event, true)"
                               (keyup)="keyUp($event, false)"
                               autocomplete="off"
                               onkeyup="if(event.key=='Enter') goldTradeSum.focus();"
                               (blur)="onBlur($event)">
                        <span matPrefix>Золото 999,9</span>
                        <span matSuffix>&nbsp;гр.</span>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="full_width">
                        <mat-label></mat-label>
                        <input matInput value="0" type="text" id="goldTradeSum" formControlName="goldTradeSum"
                               (change)="changeDynamics()"
                               (keydown)="keyDown($event, false)"
                               (keyup)="keyUp($event, false)"
                               autocomplete="off"
                               onkeyup="if(event.key=='Enter') silverTradeWeight.focus();"
                               onfocus="this.select()"
                               (blur)="onBlurFixed($event, false)">
                        <span matPrefix>на</span>
                        <span matSuffix>&nbsp;руб. 00 коп.</span>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
                <table class="full_width">
                  <tr>
                    <td width="517">
                      <mat-form-field class="full_width">
                        <input matInput value="0" type="text" id="silverTradeWeight" formControlName="silverTradeWeight" step='0.01'
                               (change)="changeDynamics()"
                               (keydown)="keyDown($event, true)"
                               (keyup)="keyUp($event, false)"
                               autocomplete="off"
                               onfocus="this.select()"
                               onkeyup="if(event.key=='Enter') silverTradeSum.focus();"
                               (blur)="onBlur($event)">
                        <span matPrefix>Серебро 999,9</span>
                        <span matSuffix>&nbsp;гр.</span>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="full_width">
                        <input matInput value="0" type="text" id="silverTradeSum" formControlName="silverTradeSum"
                               (change)="changeDynamics()"
                               (keydown)="keyDown($event, false)"
                               (keyup)="keyUp($event, false)"
                               autocomplete="off"
                               onfocus="this.select()"
                               onkeyup="if(event.key=='Enter') diamondsTradeWeight.focus();"
                               (blur)="onBlurFixed($event, false)">
                        <span matPrefix>на</span>
                        <span matSuffix>&nbsp;руб. 00 коп.</span>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
                <mat-form-field class="full_width">
                  <input matInput value="0.00" type="text" id="diamondsTradeWeight" formControlName="diamondsTradeWeight" step='0.01'
                         (change)="changeDynamics()"
                         (keydown)="keyDown($event, true)"
                         (keyup)="keyUp($event, false)"
                         autocomplete="off"
                         onfocus="this.select()"
                         onkeyup="if(event.key=='Enter') goodsTradeSum.focus();"
                         (blur)="onBlur($event)">
                  <span matPrefix>Брилланты</span>
                  <span matSuffix>&nbsp;кт.</span>
                </mat-form-field>
                <mat-form-field class="full_width">
                  <input matInput value="0" type="text" id="goodsTradeSum" formControlName="goodsTradeSum" onfocus="this.select()"
                         (change)="changeDynamics()"
                         (keydown)="keyDown($event, false)"
                         (keyup)="keyUp($event, false)"
                         autocomplete="off"
                         onkeyup="if(event.key=='Enter') tradesActive.focus();"
                         (blur)="onBlurFixed($event, false)">
                  <span matPrefix>Вещи</span>
                  <span matSuffix>&nbsp;руб. 00 коп.</span>
                </mat-form-field>
                <mat-form-field class="full_width">
                  <input matInput value="0" type="text" formControlName="tradeSum" onfocus="this.select()" readonly>
                  <span matPrefix class="prefix bold">Сумма торгов</span>
                  <span matSuffix>&nbsp;руб. 00 коп.</span>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </td>
    </tr>
    <tr [hidden]="this.f.branch.value=='' || this.f.date.value==''">
      <td colspan="2">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="buttonTitle"><span style="font-size: 18px;">Расходы</span></mat-panel-title>
            </mat-expansion-panel-header>
            <div style="font-size: 16px;">
              <table class="full_width">
                <tr>
                  <td>
                    <mat-form-field class="full_width">
                      <input matInput placeholder="Наименование" formControlName="expenseName" style="text-align: left"
                             (ngModelChange)="expensesChanged()">
                    </mat-form-field>
                  </td>
                  <td width="100px">
                    <mat-form-field class="full_width">
                      <input matInput placeholder="Сумма" value="0" formControlName="expenseSum" type="text"
                             (ngModelChange)="expensesChanged()"
                             (keydown)="keyDown($event, false)"
                             (keyup)="keyUp($event, false)"
                             autocomplete="off">
                      <span matSuffix> руб.</span>
                    </mat-form-field>
                  </td>
                  <td width="100px">
                    <button mat-raised-button color="primary" class="full_width" (click)="addExpense()"
                            [disabled]="this.disableExpenseSave">
                      <mat-icon>playlist_add</mat-icon>&nbsp;Добавить
                    </button>
                  </td>
                </tr>
              </table>
              <table class="full_width" cellpadding="3" cellspacing="0"
                     *ngIf="this.report!=null && this.report.expenses!=null && this.report.expenses.length>0">
                <tr>
                  <td align="left"><b>Наименование</b></td>
                  <td align="right"><b>Сумма</b></td>
                  <td width="50">&nbsp;</td>
                </tr>
                <tr style="border-bottom: 1px solid #999999;" *ngFor="let expense of this.report.expenses">
                  <td align="left" style="border-bottom: 1px solid #999999;">{{expense.name}}</td>
                  <td align="right" style="border-bottom: 1px solid #999999;">{{this.transformInput(expense.sum)}} руб.</td>
                  <td>
                    <button mat-raised-button (click)="removeExpense(expense.id)">
                      <mat-icon>clear</mat-icon>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </td>
    </tr>
    <tr [hidden]="this.f.branch.value=='' || this.f.date.value==''">
      <td colspan="2">
        <mat-card class="card">
          <mat-spinner
            *ngIf="loadingReport || loadingDynamics" color="primary" strokeWidth="4" class="spinner" diameter="100"
            strokeWidth="2"></mat-spinner>
          <div class="full_width">
            <div>
              <button mat-raised-button color="primary" type="button" class="full_width" [disabled]="isSaveDisabled()"
                      (click)="saveReport()">
                <mat-icon>save</mat-icon>&nbsp;{{saveText}}
                <mat-spinner *ngIf="loading" color="primary" strokeWidth="4" class="spinner"
                             diameter="25" strokeWidth="2"></mat-spinner>
              </button>
            </div>
          </div>
        </mat-card>
      </td>
    </tr>
  </table>
</form>

