<div>
  <div>
    <button mat-raised-button color="primary" (click)="openAddDialog()" class="full_width">
      <mat-icon>add_location</mat-icon>&nbsp;Добавить
    </button>
  </div>
  <br>
  <div>
    <table cellpadding="3" cellspacing="0" class="data_table">
      <thead>
      <td class="left_border">Название</td>
      <td class="mid_border">Юридическое лицо</td>
      <td class="mid_border">Адрес</td>
      <td class="mid_border">Сотрудники</td>
      <td class="right_border">&nbsp;</td>
      </thead>
      <tr *ngFor="let branch of branches">
        <td class="left_border">{{branch.name}}</td>
        <td class="mid_border">{{this.getLegalPartyName(branch.legalParty)}}</td>
        <td class="mid_border">{{branch.address}}</td>
        <td class="mid_border">
          <ng-container *ngFor="let user of branch.users">
            <span style="font-size: 12px;">{{user.name}}</span><br/>
          </ng-container>
        </td>
        <td align="right" class="right_border">
          <button mat-icon-button color="primary" aria-label="Редактировать" class="icon_button"
                  (click)="openEditDialog(branch._id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Удалить" class="icon_button"
                  (click)="openDeleteDialog(branch._id, branch.name, branch.address)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
