.add_button {
  width: 100%;
}

.full_width {
  width: 100%;
}

.button_container {
  width: 180px;
}

.main_table {
  width: 100%;
}

.data_table{

}

.data_table tr {
  height: auto;
}

.data_table td {
  border-width: 0px;
}

.button_aligner {
  margin-left: auto;
  margin-right: 0px;
}

.button_aligner button {
  width: 180px;
}

.data_table {
  border-collapse: collapse;
  border: #b1b2d2 solid 1px;
  background-color: #ffffff;
  width: 100%;
}

.data_table td {
  border: #b1b2d2 solid thin;
}

.data_table thead td {
  background-color: #3f60b5bd;
  color: white;
  vertical-align: middle;
  height: 30px;
  font-weight: 500;
  padding-left: 20px;
}

.data_table tr td {
  padding-left: 20px;
  text-align: left;
}

.left_border {
  border-right: none !important;
}

.mid_border {
  border-right: none !important;
  border-left: none !important;
}

.right_border {
  border-left: none !important;
}
