<div class="full_width">
  <div style="text-align:center">
    Уверены, что хотите удалить отделение <b>{{data.name}}</b>, которое находится по адресу <b>{{data.address}}</b>?
  </div>
</div>
<div mat-dialog-actions class="full_width">
  <div class="button_aligner">
    <button mat-raised-button color="warn" (click)="onNoClick()">Нет</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="" (click)="onDelete()">Да</button>
  </div>
</div>
