<h1 mat-dialog-title *ngIf="data.new">Новое отделение</h1>
<form [formGroup]="editForm">
  <div mat-dialog-content>
    <input type="hidden" value="{{branch._id}}" formControlName="id">
    <input type="hidden" value="{{branch.normative}}" formControlName="normative">
    <div class="full_width">
      <mat-form-field class="full_width">
        <input matInput placeholder="Название" value="{{branch.name}}" formControlName="name" cdkFocusInitial>
        <mat-error *ngIf="f.name.errors && f.name.errors.required">Название отделения не может быть
          пустым
        </mat-error>
      </mat-form-field>
    </div>
    <div class="full_width">
      <mat-form-field class="full_width">
        <mat-label>Юридические лица</mat-label>
        <mat-select formControlName="legalParty">
          <mat-option *ngFor="let legalParty of legalParties" [value]="legalParty._id">{{legalParty.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="full_width">
      <mat-form-field class="full_width">
        <input matInput placeholder="Адрес" value="{{branch.address}}" formControlName="address">
        <mat-error *ngIf="f.address.errors && f.address.errors.required">Адрес отделения не может быть
          пустым
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="full_width">
    <div class="button_aligner">
      <button mat-raised-button color="warn" (click)="onNoClick($event)">Отмена</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="" (click)="onSave($event)"
              [disabled]="f.name.errors || f.address.errors">Сохранить
      </button>
    </div>
  </div>
</form>
