.frame {
  background-color: #eee;
  width: 500px;
  position: relative;
  left: 50%;
  margin-left: -250px;
  margin-bottom: 10px;
}

.card {
  background-color: #eee;
}

mat-card-title {
  font-size: 18px;
  font-weight: bold;
}

mat-panel-title {
  font-size: 18px;
  font-weight: bold;
}

.dataRow {
  width: 400px;
  padding: 5px;
  margin-bottom: -20px;
}

mat-expansion-panel {
  background-color: #eee;
}

mat-panel-title {
  font-weight: bold;
}


.full_width {
  width: 100%;
}

.full_width input {
  text-align: right;
}

.prefix {
}

.bold {
  font-weight: bold;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.centered {
  text-align: center;
}

.centered thead {
  font-weight: bold;
}

.arrows {
  width: 52px;
  padding: 0px !important;
}

.enabled_arrow {
  cursor: pointer;
}
