<form [formGroup]="viewReportForm">
  <input value="0" type="hidden" formControlName="id">
  <table border="0" cellpadding="5" cellspacing="0" width="1034">
    <tr>
      <td colspan="2">
        <mat-card class="card">
          <div class="full_width">
            <table border="0" cellpadding="10" cellspacing="0" class="full_width">
              <tr>
                <td class="arrows" *ngIf="showArrows()">
                  <img src="../../assets/images/prev.png" (click)="goPrev()" *ngIf="hasPrev()" class="enabled_arrow">
                  <img src="../../assets/images/prev_grey.png" *ngIf="!hasPrev()">
                </td>
                <td valign="bottom" width="339">
                  <div>
                    <mat-form-field class="full_width">
                      <mat-label>Подразделение</mat-label>
                      <mat-select formControlName="branch" (ngModelChange)="valuechange()">
                        <mat-option *ngFor="let branch of branches" [value]="branch._id">{{branch.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </td>
                <td valign="bottom" width="339">
                  <div class="full_width">
                    <mat-form-field class="full_width">
                      <span matPrefix>Дата</span>
                      <input matInput [matDatepicker]="reportDatePicker" formControlName="date"
                             (ngModelChange)="valuechange()">
                      <mat-datepicker-toggle matSuffix [for]="reportDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #reportDatePicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </td>
                <td class="arrows" *ngIf="showArrows()">
                  <img src="../../assets/images/next.png" (click)="goNext()" *ngIf="hasNext()" class="enabled_arrow">
                  <img src="../../assets/images/next_grey.png" *ngIf="!hasNext()">
                </td>
              </tr>
            </table>
            <div class="full_width centered" *ngIf="username">
              &nbsp;Отчет сохранил: {{username}}
            </div>
            <mat-spinner
              *ngIf="loadingReport || loadingDynamics"
              color="primary" strokeWidth="4" class="spinner" diameter="100"
              strokeWidth="2"></mat-spinner>
          </div>
        </mat-card>

      </td>
    </tr>
  </table>
  <table border="0" cellpadding="5" cellspacing="0" width="1034" [hidden]="!showReport">
    <tr>
      <td width="517" valign="top">
        <mat-card class="card">
          <mat-card-title>Заёмщики</mat-card-title>
          <mat-form-field class="full_width">
            <input matInput value="0" type="text" formControlName="loanersPawned" readonly>
            <span matPrefix class="prefix">Взяли</span>
            <span matSuffix>&nbsp;чел.</span>
          </mat-form-field>
          <mat-form-field class="full_width">
            <input matInput value="0" type="text" formControlName="loanersBought" readonly>
            <span matPrefix class="prefix">Отдали</span>
            <span matSuffix>&nbsp;чел.</span>
          </mat-form-field>
          <mat-form-field class="full_width">
            <input matInput value="0" type="text" formControlName="loanersAsset" readonly>
            <span matPrefix class="prefix bold">Актив</span>
            <span matSuffix>&nbsp;чел.</span>
          </mat-form-field>
          <mat-form-field class="full_width">
            <input matInput value="0" formControlName="pawnersRate" readonly>
            <span matPrefix class="prefix bold">Прирост за день</span>
          </mat-form-field>
        </mat-card>
      </td>
      <td valign="top">
        <mat-card class="card">
          <div class="full_width">
            <mat-card-title>Корзина</mat-card-title>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="loanedRub" readonly>
              <span matPrefix class="prefix">Выдано</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="repayedRub" readonly>
              <span matPrefix class="prefix">Погашено</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="percentRecieved" readonly>
              <span matPrefix class="prefix">Получено %</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="volume" readonly>
              <span matPrefix class="prefix bold">Объем</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="totalPercentRecieved" readonly>
              <span matPrefix class="prefix bold">Получено % с 01.01</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" formControlName="dailyGrowth" readonly>
              <span matPrefix class="prefix bold">Прирост за день</span>
            </mat-form-field>
          </div>
        </mat-card>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <mat-card class="card">
          <div class="full_width">
            <mat-card-title>Золото 999,9</mat-card-title>
            <mat-form-field class="full_width">
              <input matInput value="0.00" formControlName="goldBought" type="text" readonly>
              <span matPrefix class="prefix">Принято</span>
              <span matSuffix>&nbsp;гр.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" formControlName="goldSold" type="text" readonly>
              <span matPrefix class="prefix">Погашено</span>
              <span matSuffix>&nbsp;гр.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" formControlName="goldBalance" readonly>
              <span matPrefix class="prefix bold">Остаток</span>
              <span matSuffix>&nbsp;гр.</span>
            </mat-form-field>
          </div>
        </mat-card>
      </td>
      <td valign="top">
        <mat-card class="card right">
          <div class="full_width">
            <mat-card-title>Серебро 999,9</mat-card-title>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" formControlName="silverBought" type="text" readonly>
              <span matPrefix class="prefix">Принято</span>
              <span matSuffix>&nbsp;гр.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" formControlName="silverSold" type="text" readonly>
              <span matPrefix class="prefix">Погашено</span>
              <span matSuffix>&nbsp;гр.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" formControlName="silverBalance" readonly>
              <span matPrefix class="prefix bold">Остаток</span>
              <span matSuffix>&nbsp;гр.</span>
            </mat-form-field>
          </div>
        </mat-card>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <mat-card class="card left">
          <div class="full_width">
            <mat-card-title>Бриллианты</mat-card-title>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" formControlName="diamondBought" readonly>
              <span matPrefix class="prefix">Принято</span>
              <span matSuffix>&nbsp;кт.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" formControlName="diamondSold" readonly>
              <span matPrefix class="prefix">Погашено</span>
              <span matSuffix>&nbsp;кт.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0.00" type="text" formControlName="diamondBalance" readonly>
              <span matPrefix class="prefix bold">Остаток</span>
              <span matSuffix>&nbsp;кт.</span>
            </mat-form-field>
          </div>
        </mat-card>
      </td>
      <td valign="top">
        <mat-card class="card right">
          <div class="full_width">
            <mat-card-title>Вещи</mat-card-title>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="goodsBought" readonly>
              <span matPrefix class="prefix">Принято</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="goodsSold" readonly>
              <span matPrefix class="prefix">Погашено</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="goodsBalance" readonly>
              <span matPrefix class="prefix bold">Остаток</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
          </div>
        </mat-card>
      </td>
    </tr>
    <tr>
      <td valign="top" colspan="2">
        <mat-card class="card right">
          <div class="full_width">
            <mat-card-title>Касса</mat-card-title>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="cashboxMorning" readonly>
              <span matPrefix class="prefix">Остаток кассы на утро</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
            <mat-form-field class="full_width">
              <input matInput value="0" type="text" formControlName="cashboxEvening" readonly>
              <span matPrefix class="prefix">Остаток кассы на конец дня</span>
              <span matSuffix>&nbsp;руб. 00 коп.</span>
            </mat-form-field>
          </div>
        </mat-card>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-card class="card">
          <mat-card-title>Торги</mat-card-title>
          <div style="font-size: 16px;">
            <div class="full_width">
              <mat-form-field class="full_width">
                <input matInput value="0" type="text" formControlName="tradesActive" readonly>
                <span matPrefix>Актив</span>
                <span matSuffix>&nbsp;залогов</span>
              </mat-form-field>
              <table class="full_width">
                <tr>
                  <td width="517">
                    <mat-form-field class="full_width">
                      <input matInput value="0" type="text" formControlName="goldTradeWeight" readonly>
                      <span matPrefix>Золото 999,9</span>
                      <span matSuffix>&nbsp;гр.</span>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="full_width">
                      <mat-label></mat-label>
                      <input matInput value="0" type="text" formControlName="goldTradeSum" readonly>
                      <span matPrefix>на</span>
                      <span matSuffix>&nbsp;руб. 00 коп.</span>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
              <table class="full_width">
                <tr>
                  <td width="517">
                    <mat-form-field class="full_width">
                      <input matInput value="0" type="text" formControlName="silverTradeWeight" readonly>
                      <span matPrefix>Серебро 999,9</span>
                      <span matSuffix>&nbsp;гр.</span>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="full_width">
                      <input matInput value="0" type="text" formControlName="silverTradeSum" readonly>
                      <span matPrefix>на</span>
                      <span matSuffix>&nbsp;руб. 00 коп.</span>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
              <mat-form-field class="full_width">
                <input matInput value="0.00" type="text" formControlName="diamondsTradeWeight" readonly>
                <span matPrefix>Брилланты</span>
                <span matSuffix>&nbsp;кт.</span>
              </mat-form-field>
              <mat-form-field class="full_width">
                <input matInput value="0" type="text" formControlName="goodsTradeSum" readonly>
                <span matPrefix>Вещи</span>
                <span matSuffix>&nbsp;руб. 00 коп.</span>
              </mat-form-field>
              <table class="full_width" *ngIf="user.roles.indexOf('admin')>-1">
                <tr>
                  <td>
                    <mat-form-field class="full_width">
                      <input matInput value="0" type="text"
                             formControlName="auctionAmount"
                             onfocus="this.select()"
                             (keydown)="keyDown($event, false)"
                             (keyup)="keyUp($event)"
                             (blur)="onBlurFixed($event)"
                             autocomplete="off">
                      <span matPrefix>Сумма реализации по торгам</span>
                      <span matSuffix>&nbsp;руб. 00 коп.</span>
                    </mat-form-field>
                  </td>
                  <td width="100px">
                    <button mat-raised-button color="primary" class="full_width" (click)="saveReport()">
                      Сохранить
                    </button>
                  </td>
                </tr>
              </table>
              <mat-form-field class="full_width">
                <input matInput value="0" type="text" formControlName="tradeSum" onfocus="this.select()" readonly>
                <span matPrefix class="prefix bold">Сумма торгов</span>
                <span matSuffix>&nbsp;руб. 00 коп.</span>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-card class="card" *ngIf="this.report!=null && this.report.expenses!=null && this.report.expenses.length>0">
          <mat-card-title>Расходы</mat-card-title>
          <table class="full_width" cellpadding="3" cellspacing="0"
                 *ngIf="this.report!=null && this.report.expenses!=null && this.report.expenses.length>0">
            <tr>
              <td align="left"><b>Наименование</b></td>
              <td align="right"><b>Сумма</b></td>
            </tr>
            <tr style="border-bottom: 1px solid #999999;" *ngFor="let expense of this.report.expenses">
              <td align="left" style="border-bottom: 1px solid #999999;">{{expense.name}}</td>
              <td align="right" style="border-bottom: 1px solid #999999;">{{this.transformInput(expense.sum)}} руб.</td>
            </tr>
          </table>
        </mat-card>
      </td>
    </tr>
  </table>
</form>
