.stats {
  text-align: center;
}

.stats mat-card {
  background-color: #eeeeee;
  margin-top: 10px;
}

.stats_table {
  border-collapse: collapse;
  font-size: 10px;
  border: #b1b2d2 solid 1px;
  background-color: #ffffff;
}

.stats_table td {
  border: #b1b2d2 solid thin;
}

.stats_table thead td {
  background-color: #3f60b5bd;
  font-size: 11px;
  color: white;
  vertical-align: top;
  font-weight: 500;
}

.stats_table tr td {
  text-align: center;
}

.stats_title {
  font-weight: bold;
}

.stats button {
  width: 100%;
}

.align_right {
  text-align: right;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.stats_table tr:hover {
  background-color: #E8EAF7;
}

.smallSaveButton {
  height: 19px;
  vertical-align: top;
  margin-left: 10px;
  width: 30px;
}
