<div class="stats">
  <table width="100%">
    <tr>
      <td width="33%">
        <button mat-raised-button color="{{operColor}}" (click)="showOper()"
                class="full_width">Оперативный отчёт
        </button>
      </td>
      <td>
        <button mat-raised-button color="{{treasuryColor}}" (click)="showTreasury()"
                class="full_width">Казначейство
        </button>
      </td>
      <td width="33%">
        <button mat-raised-button color="{{statsColor}}" (click)="showStats()"
                class="full_width">Сводный отчёт
        </button>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="operColor=='warn'">
  <div class="stats">
    <mat-card class="frame">
      <mat-card-title class="stats_title">Оперативный отчет</mat-card-title>
      <table class="stats_table" cellspacing="0" cellpadding="2" width="1002">
        <thead>
        <td>Название подразделения</td>
        <td>Выдано, руб.</td>
        <td>Погашено, руб.</td>
        <td>Разница, руб.</td>
        <td>Остаток кассы на конец дня</td>
        </thead>
        <ng-container *ngIf="operReport">
          <tr *ngFor="let row of operReport.perBranch">
            <td>{{row.branchName}}</td>
            <td>{{addSeparators(row.loanedToday)}}</td>
            <td>{{addSeparators(row.repayedToday)}}</td>
            <td>{{addSeparators(row.balance)}}</td>
            <td>{{addSeparators(row.cashbox)}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td>Итого по всем отделениям</td>
            <td>{{addSeparators(operReport.totalLoanedToday)}}</td>
            <td>{{addSeparators(operReport.totalRepayedToday)}}</td>
            <td>{{addSeparators(operReport.totalBalance)}}</td>
            <td>{{addSeparators(operReport.totalCashBox)}}</td>
          </tr>
        </ng-container>
      </table>
      <form [formGroup]="operDateForm">
        <div class="full_width align_right">
          <mat-form-field class="full_width">
            <!--          <span matPrefix>Дата отчета</span>-->
            <input matInput [matDatepicker]="operReportDatePicker" formControlName="date"
                   (ngModelChange)="updateOperReport()">
            <mat-datepicker-toggle matSuffix [for]="operReportDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #operReportDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </form>
    </mat-card>
  </div>
</div>
<div *ngIf="treasuryColor=='warn'">
  <mat-card class="frame">
    <div class="stats">
      <mat-card-title class="stats_title">Казначейство</mat-card-title>
    </div>
    <table class="stats_table" cellspacing="0" cellpadding="2" width="1002">
      <ng-container *ngFor="let treasury of treasuryReport">
        <thead>
        <td>Юр. лицо</td>
        <td colspan="6" align="left">&nbsp;&nbsp;{{treasury.legalParty}}</td>
        </thead>
        <thead>
        <td>Название подразделения</td>
        <td>Выдано, руб.</td>
        <td>Погашено, руб.</td>
        <td>Разница, руб.</td>
        <td>Остаток кассы на конец дня</td>
        <td>Нормативный остаток касс</td>
        <td>Разница касс</td>
        </thead>
        <tr *ngFor="let row of treasury.reports">
          <td>{{row.name}}</td>
          <td>{{addSeparators(row.loanedToday)}}</td>
          <td>{{addSeparators(row.repayedToday)}}</td>
          <td>{{addSeparators(row.balance)}}</td>
          <td>{{addSeparators(row.cashbox)}}</td>
          <td>{{addSeparators(row.normative)}}</td>
          <td>{{addSeparators(-row.difference)}}</td>
        </tr>
        <tr style="font-weight: bold;">
          <td style="text-align: left">Итого по всем подразделениям</td>
          <td>{{addSeparators(treasury.loanedTodaySum)}}</td>
          <td>{{addSeparators(treasury.repayedTodaySum)}}</td>
          <td>{{addSeparators(treasury.balanceSum)}}</td>
          <td>
            {{addSeparators(treasury.cashboxSum)}}
          </td>
          <td>{{addSeparators(treasury.normativeSum)}}</td>
          <td>
            {{addSeparators(-treasury.differenceSum)}}
          </td>
        </tr>
        <tr style="font-weight: bold;">
          <td style="text-align: left;">Остаток в банке</td>
          <td colspan="3">&nbsp;</td>
          <td style="text-align: center;">
              <span *ngIf="treasury.treasury">
                <input type="hidden" name="id_{{treasury._id}}" value="{{treasury.treasury._id}}"/>
                <input type="text"
                       szie="25"
                       name="tid_{{treasury._id}}"
                       value="{{addSeparators(treasury.treasury.amount)}}"
                       style="font-size: 12px"
                       (keydown)="keyDown($event, true)"
                       (keyup)="keyUp($event, false)"
                       autocomplete="off"
                       onfocus="this.select()"
                       (blur)="onBlur($event)">
              </span>
            <span *ngIf="!treasury.treasury"
            >
                <input type="text"
                       szie="25"
                       name="tid_{{treasury._id}}"
                       style="font-size: 12px"
                       (keydown)="keyDown($event, true)"
                       (keyup)="keyUp($event, false)"
                       autocomplete="off"
                       onfocus="this.select()"
                       (blur)="onBlur($event)">
              </span>
            <button mat-raised-button color="primary" (click)="saveTreasury(treasury._id)"
                    class="smallSaveButton">
              <mat-icon style="font-size: 12px; vertical-align: super;">save</mat-icon>
            </button>
          </td>
          <td style="text-align: center;">
            {{addSeparators(treasury.legalNormative)}}
          </td>
          <td style="text-align: center;">
            {{addSeparators(((treasury.treasury)?((treasury.treasury.amount)?treasury.treasury.amount:0):0)-treasury.legalNormative)}}
          </td>
        </tr>
        <tr style="font-weight: bold;">
          <td style="text-align: left">Итого по юр. лицу</td>
          <td>{{addSeparators(treasury.loanedTodaySum)}}</td>
          <td>{{addSeparators(treasury.repayedTodaySum)}}</td>
          <td>{{addSeparators(treasury.balanceSum)}}</td>
          <td>
            {{addSeparators(treasury.cashboxSum+((treasury.treasury)?((treasury.treasury.amount)?treasury.treasury.amount:0):0))}}
          </td>
          <td>{{addSeparators(treasury.normativeSum+treasury.legalNormative)}}</td>
          <td>
            {{addSeparators(-treasury.differenceSum
            +((treasury.treasury)?((treasury.treasury.amount)?treasury.treasury.amount:0):0)
            -treasury.legalNormative)}}
          </td>
        </tr>
      </ng-container>
      <tr style="font-weight: bold;">
        <td style="text-align: left">Итого по комплексу</td>
        <td>{{addSeparators(treasuryTotals.loanedTodaySum)}}</td>
        <td>{{addSeparators(treasuryTotals.repayedTodaySum)}}</td>
        <td>{{addSeparators(treasuryTotals.balanceSum)}}</td>
        <td>{{addSeparators(treasuryTotals.cashboxSum)}}</td>
        <td>{{addSeparators(treasuryTotals.normativeSum)}}</td>
        <td>{{addSeparators(-treasuryTotals.differenceSum)}}</td>
      </tr>
    </table>
    <form [formGroup]="treasuryDateForm">
      <div class="full_width align_right">
        <mat-form-field class="full_width">
          <!--          <span matPrefix>Дата отчета</span>-->
          <input matInput [matDatepicker]="treasuryDatePicker" formControlName="date"
                 (ngModelChange)="updateTreasuryReport()">
          <mat-datepicker-toggle matSuffix [for]="treasuryDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #treasuryDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </mat-card>
</div>
<div *ngIf="statsColor=='warn'">
  <div class="stats">
    <mat-card class="frame">
      <mat-card-title class="stats_title">Сводный отчёт</mat-card-title>
      <table width="100%">
        <tr>
          <td *ngFor="let year of years">
            <button mat-raised-button color="{{getYearColor(year.year)}}" (click)="showYear(year.year)"
                    class="full_width">{{year.year}} год
              <mat-spinner *ngIf="loading && selectedYear==year.year" color="primary" diameter="20" strokeWidth="3"
                           class="spinner"></mat-spinner>
            </button>
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
  <div class="stats" *ngFor="let mStat of branchStats">
    <mat-card class="frame">
      <mat-card-title class="stats_title">{{mStat.branchInfo.name}}</mat-card-title>
      <table class="stats_table" cellspacing="0" cellpadding="2">
        <thead>
        <td>Месяц</td>
        <td>Выдано, чел</td>
        <td>Погашено, чел</td>
        <td>Средняя корзина</td>
        <td>Получено, %</td>
        <td>Прибыль по торгам</td>
        <td>Сумма реализации по торгам</td>
        <td>Себестоимость торги</td>
        <td>Выдано, руб</td>
        <td>Погашено, руб</td>
        <td>Расходы</td>
        <td>Корзина первый день месяца (утро)</td>
        <td>Корзина последний день месяца (вечер)</td>
        <td>Касса первый день месяца (утро)</td>
        <td>Касса последний день месяца (вечер)</td>
        </thead>
        <tr *ngFor="let row of mStat.monthlyReports">
          <td style="text-align: left">{{getMonthName(row.month)}}</td>
          <td>{{addSeparators(row.monthPawned)}}</td>
          <td>{{addSeparators(row.monthBought)}}</td>
          <td>{{addSeparators(row.monthAverageBasket)}}</td>
          <td>{{addSeparators(row.percReceived)}}</td>
          <td>{{addSeparators(row.monthTradeSum-row.monthTradeBalance)}}</td>
          <td>{{addSeparators(row.monthTradeSum)}}</td>
          <td>{{addSeparators(row.monthTradeBalance)}}</td>
          <td>{{addSeparators(row.monthLoanRub)}}</td>
          <td>{{addSeparators(row.monthRepayRub)}}</td>
          <td>{{addSeparators(row.monthExpenses)}}</td>
          <td>{{addSeparators(row.startBasket)}}</td>
          <td>{{addSeparators(row.endBasket)}}</td>
          <td>{{addSeparators(row.cashboxStartMorning)}}</td>
          <td>{{addSeparators(row.cashboxEndMorning)}}</td>
        </tr>
      </table>
    </mat-card>
  </div>
</div>
