<mat-card class="card">
  <div>
  <form [formGroup]="excelRequest" name="excelRequest">
    <table class="full_width">
      <tr>
        <td colspan="2">
          <mat-form-field class="full_width">
            <mat-label>Подразделение</mat-label>
            <mat-select formControlName="branch">
              <mat-option *ngFor="let branch of branches" [value]="branch._id">{{branch.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full_width">
            <mat-label>Дата с</mat-label>
            <input matInput [matDatepicker]="pickerFrom" formControlName="dateFrom">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full_width">
            <mat-label>Дата по</mat-label>
            <input matInput [matDatepicker]="pickerTo" formControlName="dateTo">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button mat-raised-button
                  color="primary"
                  type="submit"
                  (click)="onSave()"
                  class="full_width"
                  [disabled]="saveDisabled()">
            <mat-icon>save</mat-icon>&nbsp;Скачать
          </button>
        </td>
      </tr>
    </table>
  </form>
  <mat-spinner
    *ngIf="loading"
    color="primary" strokeWidth="4" class="spinner" diameter="100"
    strokeWidth="2"></mat-spinner>
  </div>
</mat-card>
