
.main_content {
    width: 1246px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  .content_frame{
    background-color: rgb(242, 242, 242);
    border: 1px solid;
  }

  .left_nav {
    width: 200px;
    float: left;
  }



  .container {
    margin: 5px;
  }

  .main_area {
    background-color: white;
    width: 1044px;
    float: left;
    border: 1px solid #ccc;
  }
