<div class="main_content">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="workspace">
    <div class="left_nav">
      <div class="container">
        <app-left-nav></app-left-nav>
      </div>
    </div>
    <div class="main_area">
      <div class="container">
        <app-content>
          <router-outlet></router-outlet>
        </app-content>
      </div>
    </div>
  </div>
</div>
